@tailwind base;
@tailwind components;
@tailwind utilities;




* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #b1b4ee;
}

li {
  list-style: none;
}


@layer components {
  .base-outer {
    @apply outline bg-slate-100 rounded-md outline-slate-300
  }
  .details-list details{
    @apply mx-6
  }
  
  .details-list details summary{
    list-style: none;
    @apply cursor-pointer
  }
  
  .issue-list {
    @apply bg-white
  }
  
  .issue-list ul{
    @apply w-full
  }
  
  .issue-list li {
    @apply border-b p-4
  }

  .label-item > div {
    @apply w-3/12 flex justify-between
  }

  .label-item > div:last-child {
    @apply justify-end
  }
  
}

#label-wrapper, #issue-wrapper {
  min-width: 960px;
}

.hidden {
  display: none;
}
.toast-box {
  position: absolute;
  bottom: 72px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 420px;
  height: 56px;
  text-align: center;
  border: 1px solid rgba(80, 25, 25, 0.2);
  background: rgba(255, 16, 16, 0.2);
  border-radius: 6px;
  box-shadow: rgba(255, 0, 0, 0.24) 0px 3px 8px;
}

.toast-message-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 16px;
}

.toast-message {
  color: rgba(240, 50, 50, 1);
  font-size: 14px;
  font-weight: 600;
}